@using Entities.Data;
@using Entities.Models
@using Entities.Models.Business
@using Microsoft.AspNetCore.Components.Forms

<div>
    <EditForm Model="oProduct">
        <div class="form-group">
            <label>Referencia:</label>
            <InputText @bind-Value="oProduct.ProductId" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Nombre del producto:</label>
            <InputText @bind-Value="oProduct.ProductName" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Descripcion:</label>
            <InputTextArea @bind-Value="oProduct.ProductDescription" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Categoria:</label>
            <inputSelect @bindValue:event="oProduct.CategoryId" class="form-control">
                @foreach(var category in categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </inputSelect>
        </div>

        <input type="button" value="Agregar Producto" @onclick="SaveProduct" />
    </EditForm>
</div>

@code {
    ProductEntity oProduct = new ProductEntity();

    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitialazedAsync() => categories = B_Category.CategoryList();

    private void SaveProduct() => B_Product.CreateProduct(oProduct);
}
