@using Entities
@using Entities.Models
@using Entities.Models.Business
@using Microsoft.AspNetCore.Components.Forms
@using static Entities.Models.Business.B_Category


<EditForm Model ="oProduct">
    <div class="form-group">
        <label>Producto:</label>
        <inputText class= "form-control" @bind-value="oProduct.ProductName"/>
    </div>
    <div class="form-group">
        <label>Descripcion:</label>
        <inputTextArea class= "form-control" @bind-value="oProduct.ProductDescription"/>
    </div>
    <div class="form-group">
        <label>Categoria:</label>
        <inputSelect class= "form-control" @bind-value="oProduct.ProductName">
            @foreach(var category in categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </inputSelect>
    </div>
</EditForm>

@code {
    [Parameter]
    public string IdProduct { get; set; }

    ProductEntity oProduct = new ProductEntity();
    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override Task OnInitializedAsync()
    {
        categories = B_category.CategoryList();
        oProduct = B_Product.ProductById();

    }
}
